/vendor/
/node_modules/
/storage/*.key
/.env
/.env.*
!.env.example
/.idea/
/.vscode/
/.phpunit.result.cache
/homestead.json
/homestead.yaml
/auth.json
/.php_cs.cache
/.php_cs
/composer.lock
/package-lock.json
/public/storage
/storage/logs/
/storage/framework/
/storage/debugbar/
/bootstrap/cache/
/phpunit.xml
/.gitattributes
/.editorconfig
/.env.backup
.DS_Store
Thumbs.db